// Reset styles

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
// reset end

// REM Sizing
html {
    font-size: 12px;
    @media (min-width: 800) {
        font-size: 14px;
    }
    @media(min-width: 1200px){
        font-size: 16px;
    }
}

// Golbalk fonts import
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
// Navbar style start
nav {
    float: right;
    display: block;
    // display: inline-block;
    // &:after {
    //     margin: 3px 0px; 
    //     content: "";
    //     display: block;
    //     width: 100px;
    //     border-bottom: 10px solid black;
    // }
}
hr{
    display: inline-block;
    width: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
    // height: 12px;
    border-top: 2px solid rgba(0,0,0,.2);
    // box-shadow: 8px 8px 2px rgba(0,0,0,.8);
}
.navbar-nav {
    .nav-item {
        margin-right: 24px;
        a{
            font-family: 'Oswald', sans-serif;
            font-size: 1.75rem;

            &:hover{
                background-color: hsla(0, 0, 64, 1)
            }
        }
    }
}

.banner-img{
    // background-color: #f3f1f1;
    margin: 0;
    padding: 0 auto;
    // text-align: center;;
    img{
        width:800px;
        height: 200px;
        // content: url('../images/banner.jpeg');
        // background-size: 100% 100%;
        // background-color: blue($color: #000000);
        display: block;
        content: "";
        margin: 0 auto;
        padding: 0;
    }
}
.social-link{
    margin-top: 48px;
    margin-bottom: 48px;
    text-align: center;
    ul{
        display: inline-block;
        li{
            display: inline-block;
            padding: 0 auto;
            width: 100px;
            height: 50px;
            // padding-top: 10px;
            // padding-bottom: 5px;
        
            &:hover{
                background-color: (0,0,0,.5);
            }
            // background-color:;
            border: 2px  rgba(0,0,0,.5);
            a {
                color: #000;
                width: 100px;
                height: 40px;
                display: inline-block;
                padding-top: 10px;
                text-decoration: none;
                &:hover{
                    background-color: rgba(0,0,0,0.1);
                }

                // padding-top: 10px ;
                span{
                    text-align: center;
                    font-size: 2rem;
                    
                    &.text-orange{
                        color: orange;
                    }
                }

            }
        }
    }
}